name: rust-codecov

on:
  workflow_call: # https://docs.github.com/actions/using-workflows/reusing-workflows#using-inputs-and-secrets-in-a-reusable-workflow

permissions:
  contents: write
  discussions: write

jobs:
  test:
    strategy:
        fail-fast: false
        matrix:
          version:
            - stable
            # - nightly
    name: Cargo check ${{ matrix.version }} - x86_64-unknown-linux-gnu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.version }}
          components: rustfmt, clippy

      - name: check build
        run: cargo check --all --bins --examples --tests

#      - name: check examples
#        run: cargo check --all --bins --examples --tests
#        working-directory: ./examples

      - name: check release build
        run: cargo check --all --bins --examples --tests --release

      - name: Cargo test
        timeout-minutes: 40
        run: cargo test --all --all-features --no-fail-fast -- --nocapture

  cover:
    strategy:
      fail-fast: false
      matrix:
        version:
          - stable
          # - nightly

    name: Coverage ${{ matrix.version }} - x86_64-unknown-linux-gnu
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.version }}
          components: rustfmt, clippy

      - name: Generate coverage file
        if: matrix.version == 'stable' && (github.ref == 'refs/heads/main' || github.event_name == 'push')
        run: |
          cargo install cargo-tarpaulin
          cargo tarpaulin --all-features --out Xml

      - name: Upload to codecov
        if: matrix.version == 'stable' && (github.ref == 'refs/heads/main' || github.event_name == 'push')
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: cobertura.xml